body{
  background-color: red;
}
.hd-d{
  width: 100%;
  height: 80px;
  background-color: #6c5ce7/*#3498db*/;
  color:#fff;
  padding: 10px 0px 0px 10px;
  display: inline-flex;
}


.box-input{
  width: 100%;
  height: 100px;
  display: inline-flex;
 position: relative;
 margin-bottom: 2px;


}
.list{
  position: relative;
    width:100%;
    height: 40px;




    padding: 1em;


  overflow: hidden;
  transition: .3s ease-in-out;

  direction: rtl;
  unicode-bidi: bidi-override;
  .icon-star{
       font-size: 1.5em;
       z-index: 80;
       opacity: 1;
       color: #dcdde1;

  }
  label i:hover{
    color: orange;
  }
  input[type="radio"]{

    opacity: 0;
  }

  input[type="radio"]:checked ~ label i {
    color: #fbc531;
  }
}
.boxing{
  width: 5%;
  height: auto;

  margin-top: 2em;
  position: relative;



}

$list:'a','b','c';

.boxtext{


 //   @each $var in $list{
 //
 //   @if
 //   &--#{$var}{
 //
 //   }
 //
 // }

   .title{
     font:{
      weight:600;
       family:sans-serif;
     }
   }

 .bg-box{
   position: absolute;
   top: 0;
   left: 0;
  width: 100%;
  height: 100%;
  padding:5px;
  transition: .3s ease-in-out;
 }







}
