body {
  background-color: red; }

.hd-d {
  width: 100%;
  height: 80px;
  background-color: #6c5ce7;
  color: #fff;
  padding: 10px 0px 0px 10px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex; }

.box-input {
  width: 100%;
  height: 100px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  margin-bottom: 2px; }

.list {
  position: relative;
  width: 100%;
  height: 40px;
  padding: 1em;
  overflow: hidden;
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  direction: rtl;
  unicode-bidi: bidi-override; }
  .list .icon-star {
    font-size: 1.5em;
    z-index: 80;
    opacity: 1;
    color: #dcdde1; }
  .list label i:hover {
    color: orange; }
  .list input[type="radio"] {
    opacity: 0; }
  .list input[type="radio"]:checked ~ label i {
    color: #fbc531; }

.boxing {
  width: 5%;
  height: auto;
  margin-top: 2em;
  position: relative; }

.boxtext .title {
  font-weight: 600;
  font-family: sans-serif; }

.boxtext .bg-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 5px;
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out; }
